<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Anonymous Board</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			
			$('#btnOK').click(function(){
				
				var my_title = $('#title').val();
				var my_nickname = $('#nickname').val();
				var my_content = $('#content').val();

				$.post('/create', {

								title: my_title,
								nickname: my_nickname,
								content: my_content

				});  	

				$(location).attr('href', '../list');

			});
		});
		
	</script>

  </head>
  <body>
	<div id='form'>
		<input type='text' size='50' placeholder='Please Write the title' id='title' ></input>
		<input type='text' size='50' placeholder='Please Write your nickname' id='nickname'></input></br></br>
<textarea rows="30" cols="200" id='content'>
</textarea>
		<button id='btnOK' value='Update'>Submit</button>
		<button id='create' onClick="location.href='../list'">Go Back</button>
	</div>


  </body>
</html>
